/* POLICES CARACTERES */

@font-face {
    font-family: "shrikhand";
    src: url('../polices/Shrikhand-Regular.ttf');
}

@font-face {
    font-family: "roboto";
    src: url('../polices/Roboto-Regular.ttf');
}
@font-face {
    font-family: "robotoB";
    src: url('../polices/Roboto-Bold.ttf');
}

body {
    margin:auto;
}

.logomenu {
    width: 60%;
    margin-left: 17%;  
}

h1 {
    font-family:"shrikhand";
    font-size:1.5rem;
    margin:0px 20px;
    font-weight:400;
}

h2 {
    font-family:"roboto";
    font-size:1.3rem;
    font-weight:normal;
    margin-left:20px;
    padding-top:20px;
    border-bottom:3px #99e2d0 solid;
    width:14%;
}

/* Animation sur les cartes des menus  */

.starter {
    animation-name: starter;
    transform: scale(1);
    animation-duration: 2s;
}

.maincourses {
    animation-name: maincourses;
    transform: scale(1);
    animation-duration: 4s;
}

.desserts {
    animation-name: desserts;
    transform: scale(1);
    animation-duration: 6s;
}

@keyframes starter {
    0% {
        transform:scale(0);
    }

    100% {
        transform:scale(1);
    }   
}

@keyframes maincourses {
    0% {
        transform:scale(0);
    }

    100% {
        transform:scale(1);
    }   
}

@keyframes desserts {
    0% {
        transform:scale(0);
    }

    100% {
        transform:scale(1);
    }   
}

/* FIN Animation sur les cartes des menus  */

/* Animation sur Icone Validation des menus */

.line-menu {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    height: 90px;
}

.line-menu-desc {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 10px;
    width: 90%;
}

.line-menu-action {
    display: flex;
    align-items: center;
}

.line-menu-action span:first-child {
    transform: translateX(54px);
    font-weight: bold;
    transition: transform 330ms ease-in-out;
}

.icon-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    width: 50px;
    height: 90px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transform: translateX(60px);
    transition: transform 330ms ease-in-out;
}

.line-menu:hover .icon-menu i {
    animation: rotation 1s linear ;
}

.line-menu:hover .line-menu-action span:first-child {
    animation: slide-left-price 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}


.line-menu:hover .line-menu-action .icon-menu {
    animation: slide-left-icon 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

.line-menu-desc h3, .line-menu-action h3 {
    margin: 0;
}

.subtitle {    
    /*margin: 5px 0;*/
    font-family: "roboto";
    font-size: 1rem;
    font-weight: normal;
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    padding-left: 5px;
    width: 70%;
}

span {
    margin-left: -60px;
}

@keyframes slide-left-price {
    0% {
        transform: translateX(54px);
    }

    100% {
        transform: translateX(-10px);
    }
}

@keyframes slide-left-icon {
    0% {
        transform: translateX(60px);
    }

    100% {
        transform: translateX(0);
    }
}

.fa-check-circle {   
    font-size: 2em;
    color: #fff;
    transition: transform 500ms ease-in-out;
}

/* Animation Coche Slide Right - Left */

article:hover h4 {
    width:50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

article:hover strong {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

article:hover .icon-menu {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* FIN Animation Coche Slide Right - Left */

/* Animation Coche Tournante */

@keyframes rotation {
    0% {
       transform: rotate(0deg);
    }
  
    100% {
       transform: rotate(360deg);
    }
}

/* FIN Animation Coche */


/*FIN Animation sur Icone Validation */

h3 {
    font-family:"robotoB";
    font-size:1rem;
    font-weight:normal;
    margin-bottom:2px;
    margin-left:5px;
    padding-top: 8px;
    padding-left: 5px;
    width: 90%;
}

h4 {
    font-family:"roboto";
    font-size:1rem;
    font-weight:normal;
    margin-top:0px;    
    /*width: 70%;*/
    /*padding-right: 5px;*/
    
}

h4:hover {
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    overflow: hidden;
    /*width: 50%;*/ 
}

strong {
    font-family:"roboto";
    float:right;
    margin-right:10px;
    /*margin-bottom: 25px;*/
    margin-top: 15px;
}

/* HEADER */

header {
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.fa-arrow-left {    
    font-size:1.8rem;
    color:black;
    margin-left: 10px;
}

.photomenu {
    width:100%;
    height:300px;
    object-fit: cover;
}

.fa-heart {
    margin-left:25px;
    font-size: 1.3rem;
    color: white;
    margin-top: -2%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.fa-heart:before {
    border-color:#ff79da;
    font-weight: bold;
    transition: color 0.5s;
}

.fa-heart:hover {
    color: #9356DC;
    cursor: pointer;
}

.gradient:hover {
    animation: gradient 2s ease-in-out;
    display: inline-block;
    opacity: 1;
    background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

@keyframes gradient {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }

/* CARTES RESTAURANTS */

section {
    position:relative;
    background-color:#f6f6f6;
    border-radius: 50px 50px 0px 0px;
    padding-top:35px;
    margin-top: -40px;
}

article {
    border-radius: 15px 15px 15px 15px;
    /*padding:2px 2px;*/
    margin:20px;
    background-color: white;
    position: relative;
}

/* COMMANDER */

.divbtn {
    display:flex;
    justify-content: center;
    margin: 40px;
    padding-bottom: 50px;
}

.btn  {
    border-radius: 25px 25px 25px 25px;
    padding: 15px 20px;
    background-color: #9356DC;
    color: white;
    font-family: "roboto";
    outline: none;
}

.btn:hover {
    background: linear-gradient(180deg, #FF79DA, #9356DC);
    box-shadow: 8px 5px 5px black;
}