@charset "UTF-8";
* {
  font-family: "Roboto", "Arial", "sans-serif";
}



/* GLOBAL */

title {
    font-family: "Shrikhand";
}

body {
  margin: 0em;
  display: flex;
  flex-direction: column;
}

/* .body-accueil {
  animation: loading-spinner 1500ms ease-in-out forwards;
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 500;
} */

/* HEADER */

a {
  text-decoration: none;
}

.header {
  padding: 1.4em 0 0.4em 0;
  text-align: center;
  box-shadow: 0px 4px 10px -6px rgba(89, 89, 89, 0.64);
}

.header-icone {
  position: absolute;
  left: 1.5em;
  top: 1.6em;
}

.header-icone-food {
  color: black;
  font-size: 1.3em;
}

.header-logo {
  width: 10em;
}

/******* CREATION LOADER ******/

.loader-spinner {
    /*border: 10px solid #99E2D0;*/
    /* #9356DC #FF79DA #99E2D0  Couleurs demandées dans Projet P3 */
    border-top: 10px solid #9356DC;
    border-bottom: 10px solid #FF79DA;
    border-left: 10px solid #99E2D0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 5s linear infinite; /* Animation navigateurs chrome, explorer... */
    -o-animation: spin 5s linear infinite;      /* Animation navigateur mozilla */
    animation: spin 5s linear infinite;
    
/* Placement loader milieu page */

    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* ANIMATION LOADER */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* LOCALISATION & BOUTON EXPLORER */

.localisation {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    color: #353535;
    padding: 1em 0 1em 0;
    z-index: -1;
    position: relative;
    font-weight: bold;
}

.fa-map-marker-alt {
    margin-right: 1em;
}

.titre-accueil {
    background-color: #f6f6f6;
}
  
.h1-accueil {
    text-align: center;
    font-size: 1.5em;
    padding: 1em 2em 0em 2em;
}
  
.p-titre {
    text-align: center;
    color: #353535;
    padding: 0 0.5em 0 0.5em;
}

.btn-link {
    text-align: center;
}

.btn-link-text {
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 2em;
    border: none;
    font-size: 1em;
    padding: 0.94em 1.3em 0.94em 1.3em;
    margin: 1em 0 1em 0;
    display: inline-block;
    box-shadow: 0px 7px 10px -6px rgba(63, 63, 63, 0.64);
    position: relative;
}

.btn-link-text:hover {
    cursor: pointer;
}
  
.btn-link-text:hover::after {
    opacity: 1;
}

.btn-link-text::after {
    opacity: 0;
    transition: opacity 400ms ease-in-out;
    background: linear-gradient(#ff46cc, #782cd3, #99E2D0);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 2em;
    font-size: 1em;
    padding: 0.94em 1.3em 0.94em 1.3em;
}

.btn-link-text::after {
    content: "Explorer nos restaurants";
}

/* FONCTIONNEMENT BOUTON 1/2/3 */

.h2-accueil {
    display: flex;
    justify-content: center;
    
}

h4 {
    color: black;
}

.function {
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
.function-tuto {
    display: flex;
    padding: 2.2em 1.4em 2.2em 2em;
    background-color: #f0eeee;
    width: 220px;
    border-radius: 1em;
    box-shadow: 0 7px 10px -6px rgba(152, 152, 152, 0.64);
    position: relative;
    margin: 1em 1em 1em 2.1em;
    color: #7e7e7e;
}

.function-tuto::before {
    transition: opacity 600ms ease-in-out;
    background-color: #e4d5f6;
    opacity: 0;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 1em;
}

.function-tuto:hover {
    color: #9356DC;
    
}

.function-tuto:hover::before {
    opacity: 1;
}

.function-tuto-number {
    left: -0.7em;
    top: 1.35em;
    position: absolute;
    padding: 0.2em 0.5em 0.2em 0.5em;
    margin-right: 1em;
    background-color: #9356DC;
    border-radius: 2em;
    color: white;
}

.function-tuto-icon {
    font-size: 1.2em;
    top: 1.15em;
    padding: 0 1em 0 0;
    left: 1.7em;
    position: absolute;
}

.function-tuto-text {
    font-weight: bold;
    position: absolute;
    left: 4em;
    top: 0.3em;
}