@charset "UTF-8";
* {
  font-family: "Roboto", "Arial", "sans-serif";
}

body {
  margin: 0em;
  display: flex;
  flex-direction: column;
}

h4 {
  color: black;
}

a {
  text-decoration: none;
}

.body-accueil {
  animation: loading-spinner 1500ms ease-in-out forwards;
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 500;
}


/* ANCIEN LOADER ******
@keyframes loading-spinner {
  0% {
    opacity: 0.85;
  }
  90% {
    opacity: 0.85;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading-spinner-background {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loading-spinner-visibility {
  position: fixed;
  height: 100%;
  width: 100%;
  animation: loading-spinner-background 2700ms forwards;
  background-color: white;
  z-index: 10000;
}

.loading-spinner {
  display: flex;
  justify-content: center;
}
.loading-spinner-1 {
  border-left: 8px solid #9356DC;
  border-right: 8px solid #99E2D0;
  border-radius: 30em;
  height: 10em;
  width: 10em;
  position: absolute;
  z-index: 1000;
  animation: spinner-1 3000ms cubic-bezier(0, 0, 1, 1) forwards;
  top: 19em;
}
.loading-spinner-2 {
  border-left: 6px solid #FF79DA;
  border-right: 6px solid #9356DC;
  border-radius: 30em;
  height: 15em;
  width: 15em;
  position: absolute;
  z-index: 1000;
  animation: spinner-2 3000ms cubic-bezier(0, 0, 1, 1) forwards;
  top: 16.5em;
}
.loading-spinner-3 {
  border-right: 3px solid #99E2D0;
  border-left: 3px solid #FF79DA;
  border-radius: 30em;
  height: 20em;
  width: 20em;
  position: absolute;
  z-index: 1000;
  animation: spinner-3 3000ms cubic-bezier(0, 0, 1, 1) forwards;
  top: 14em;
}

@keyframes spinner-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes spinner-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1200deg);
  }
}
@keyframes spinner-3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1800deg);
  }
}
*/


.titre-accueil {
  background-color: #f6f6f6;
}

.h1-accueil {
  text-align: center;
  font-size: 1.5em;
  padding: 1em 2em 0em 2em;
}

.p-titre {
  text-align: center;
  color: #353535;
  padding: 0 0.5em 0 0.5em;
}

.h2-accueil {
  margin-left: 2em;
}

.header {
  padding: 1.4em 0 0.4em 0;
  text-align: center;
  box-shadow: 0px 4px 10px -6px rgba(89, 89, 89, 0.64);
}
.header-icone {
  position: absolute;
  left: 1.5em;
  top: 1.6em;
}
.header-icone-truc {
  color: black;
  font-size: 1.3em;
}
.header-logo {
  width: 10em;
}

/******* CREATION LOADER ******/

.loading-spinner-visibility {
    /*border: 10px solid #99E2D0;*/
    border-top: 10px solid #9356DC;
    border-bottom: 10px solid #FF79DA;
    border-left: 10px solid #99E2D0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 1.5 linear infinite; /* Animation navigateurs chrome, explorer... */
    -o-animation: spin 1.5s linear infinite;      /* Animation navigateur mozilla */
    animation: spin 1.5s linear infinite;
    
    /* Placement loader milieu page */

margin: auto;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
}
/* #9356DC #FF79DA #99E2D0  Couleurs demandées dans Projet P3 */

/* ANIMATION LOADER */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}